config MATRIX_COLS
    int "Number of columns in the matrix" 

config MATRIX_ROWS
    int "Number of rows in the matrix"

config MAX_LAYER
    int "Maximum number of keymap layers"

config RAW_ENABLE
    bool "Enable raw HID"

config MOUSE_ENABLE
    bool "Enable mouse"

config EXTRAKEY_ENABLE
    bool "Enable system and consumer key"

config VIA_ENABLE
    bool "Enable VIA"

config FEE_PAGE_SIZE 
    int "Flash page size in MCU. Used when emulating EEPROM"

config FEE_PAGE_COUNT 
    int "Flash page count. Used when emulating EEPROM"

config SWAP_HANDS_ENABLE
    bool "Enable swap hands"
